customfields/CustomFields.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:ns1="http://common.services.adyen.com" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="http://customfields.services.adyen.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" targetNamespace="http://customfields.services.adyen.com">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://customfields.services.adyen.com">
      <xsd:complexType name="CustomFieldRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="fields" nillable="true" type="tns:ArrayOfCustomField"/>
          <xsd:element minOccurs="0" name="merchantAccount" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="merchantReference" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfCustomField">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomField" nillable="true" type="tns:CustomField"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CustomField">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="value" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="check">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="customFieldRequest" nillable="true" type="tns:CustomFieldRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="CustomFieldResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="fields" nillable="true" type="tns:ArrayOfCustomField"/>
          <xsd:element minOccurs="0" name="response" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="checkResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="customFieldResponse" nillable="true" type="tns:CustomFieldResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ServiceException" type="ns1:ServiceException"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common.services.adyen.com">
      <xsd:complexType name="ServiceException"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="checkResponse">
    <wsdl:part name="parameters" element="tns:checkResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkRequest">
    <wsdl:part name="parameters" element="tns:check">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ServiceException">
    <wsdl:part name="ServiceException" element="tns:ServiceException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CustomFieldsPortType">
    <wsdl:operation name="check">
      <wsdl:input name="checkRequest" message="tns:checkRequest">
    </wsdl:input>
      <wsdl:output name="checkResponse" message="tns:checkResponse">
    </wsdl:output>
      <wsdl:fault name="ServiceException" message="tns:ServiceException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomFieldsHttpBinding" type="tns:CustomFieldsPortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="check">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="checkRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="checkResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <wsdlsoap:fault name="ServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomFields">
    <wsdl:port name="CustomFieldsHttpPort" binding="tns:CustomFieldsHttpBinding">
      <wsdlsoap:address location="https://pal-live.adyen.com/pal/services/CustomFields"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
