notificationserver/Notification.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://notification.services.adyen.com" xmlns:ns1="http://common.services.adyen.com" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="http://notification.services.adyen.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://notification.services.adyen.com">
<xsd:complexType name="NotificationRequest">
<xsd:sequence>
<xsd:element minOccurs="0" name="live" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="notificationItems" nillable="true" type="tns:ArrayOfNotificationRequestItem"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfNotificationRequestItem">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="NotificationRequestItem" nillable="true" type="tns:NotificationRequestItem"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="NotificationRequestItem">
<xsd:sequence>
<xsd:element minOccurs="0" name="additionalData" nillable="true" type="tns:anyType2anyTypeMap"/>
<xsd:element minOccurs="0" name="amount" nillable="true" type="ns1:Amount"/>
<xsd:element minOccurs="0" name="eventCode" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="eventDate" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="merchantAccountCode" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="merchantReference" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="operations" nillable="true" type="tns:ArrayOfString"/>
<xsd:element minOccurs="0" name="originalReference" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="paymentMethod" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="pspReference" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="reason" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="success" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="anyType2anyTypeMap">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="entry">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="key" type="xsd:anyType"/>
<xsd:element maxOccurs="1" minOccurs="0" name="value" type="xsd:anyType"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfString">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="string" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="sendNotification">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="notification" nillable="true" type="tns:NotificationRequest"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="sendNotificationResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="notificationResponse" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ServiceException" type="ns1:ServiceException"/>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common.services.adyen.com">
<xsd:complexType name="Amount">
<xsd:sequence>
<xsd:element minOccurs="0" name="currency" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="value" type="xsd:long"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ServiceException"/>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="sendNotificationResponse">
    <wsdl:part name="parameters" element="tns:sendNotificationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ServiceException">
    <wsdl:part name="ServiceException" element="tns:ServiceException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendNotificationRequest">
    <wsdl:part name="parameters" element="tns:sendNotification">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="NotificationPortType">
    <wsdl:operation name="sendNotification">
      <wsdl:input name="sendNotificationRequest" message="tns:sendNotificationRequest">
    </wsdl:input>
      <wsdl:output name="sendNotificationResponse" message="tns:sendNotificationResponse">
    </wsdl:output>
      <wsdl:fault name="ServiceException" message="tns:ServiceException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NotificationHttpBinding" type="tns:NotificationPortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sendNotification">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="sendNotificationRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendNotificationResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <wsdlsoap:fault name="ServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Notification">
    <wsdl:port name="NotificationHttpPort" binding="tns:NotificationHttpBinding">
      <wsdlsoap:address location="https://ca-live.adyen.com/ca/services/Notification"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
